*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

*::selection{
    background-color: #D53032;
    color: #ffffff9c;
}

body{
    font-family: sans-serif;

    font-size: 15px;
    color: #ffffff9c;
    background-color: #101010;
    line-height: 1;
    letter-spacing: .7px;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.mark{
    width: 100%;
    padding: 40px;
    margin: 40px 0;

    background-color: #303030;
    color: #ffffff9c;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}


.marks_title_id{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marks_title_id h1{
    font-size: 30px;
    line-height: 1;
    color: #fff;
}

.marks_body{
    width: 100%;
}

.marks_body p{
    text-align: flex-start;

    font-size: 22px;
    line-height: 1.7;
    color: #ffffff9c;
}

.addMark{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #0000007b;
}

.delete{
    position: relative;
    overflow: hidden;
    
    padding: 15px 30px;

    background-color: transparent;

    color: #D53032;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0000008d;
    border-radius: 10px;
    border: 1px solid #D53032;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.delete:hover{
    background-color: #D53032;
    color: #fff;
}

.delete:active{
    background-color: transparent;
    color: #D53032;
}