.creeteMarksForm{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%,-50%);

    max-width: 700px;

    padding: 20px;
    border-radius: 20px;
    background-color: #D53032;
    transition: .5s;
}

.creeteMarksForm form{
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.creeteMarksFormShadow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;

    width: 100vw;
    min-height: 100vh;

    background-color: #00000043;
    transition: .5s;
}