.header{
    position: fixed;
    z-index: 10;

    width: 100%;
    min-height: 60px;

    padding: 0 30px;
    border-bottom: 1px solid #ffffff34;
    background-color: #101010;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogoNavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 0 50px 0 0;
}
.logo_inner{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    font-weight: 900;
    font-size: 20px;
}
.nav_inner{
    color: #ffffff9c;
    text-decoration: none;

    margin: 0 20px 0 0;

    font-size: 20px;
    font-weight: 400;
}

.avtorisation{
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avtorisation_block{
    margin: 0 10px;
    padding: 0 10px;
}

.avtorisation_href{
    text-decoration: none;
    color: #ffffff9c;
    font-size: 20px;
}

.avtorisation_href:hover{
    color: #D53032;
}