.mySelect{
    position: relative;
    overflow: hidden;

    outline: 0;
    appearance: none;
    padding: 15px 30px;

    border: 1px solid #303030;
    color: #ffffff9c;
    border-radius: 10px;

    font-size: 16px;
    cursor: pointer;

    background-color: #303030;
}